<!doctype html>
<html>
<head>
    <title>Upload new File</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
</head>
<body>
  <div class="app">
    <h1>Convert sound file to 16 bit depth</h1>
    <h4>allowed types: 'wav', 'mp3', 'flac', 'aac'</h4>
    <form action="" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=convert>
    </form>
  </div>
</body>
</html>